@import "./utils/mediasQueries";
@import "./utils/variables";
@import "./pages/rock-paper-scissors";
@import "./pages/yam";

// General
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

//Home
.container-home {
    max-width: 70vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game__link {
    text-decoration: none;
    color: inherit;
    display: block; // Cela fera en sorte que les liens prennent toute la largeur disponible
    width: 50%;
    margin: auto;
    height: 30%;
}

.game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;

    &--rps {
        background-image: url('../images/rps-2.jpg');
        background-position-y: 60%;
    }

    &--yam {
        background-image: url('../images/yam-1.jpg');
        background-position-y: 30%;
    }

    &--ttt {
        background-image: url('../images/ttt-2.jpg');
        background-position-y: 50%;
    }


    &__title {
        background-color: rgba(0,0,0,0.8);
        color:white;
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
    }
}